@font-face {
    font-family: "Gotham-Bold";
    src: url("./assets/fonts/Gotham-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("./assets/fonts/ProximaNova-Regular.ttf");
    font-weight: auto;
}